* {
  margin : 0;
  padding: 0;
  font-size : 24px;
  font-weight: bold;
  color : #fff;
}

.cf::before, .cf::after {
  display: block;
  content: '';
  clear: both;
}

#wrap {
  width: 1200px;
  margin: 0 auto;
}

#header {
  width: 1200px;
}

#header .logo {
  float: left;
  width: 250px;
  height: 100px;
  background : #888;
}

#header .nav {
  float : left;
  width: 950px;
  height: 100px;
  background-color: #777;
}

#banner {
  width: 100%;
  height: 300px;
  text-align: center;
  overflow: hidden;
}

#banner .slideList {
  width: 1200px;
  height: 300px;
  position: relative;
}

#banner .slideList .slideImg {
  position: relative;
}


#banner .slideList .slideImg h2{
  position: absolute; /* 글씨 정중앙 오게 하는법 */
  left : 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-color: rgb(255,255,255,0.5);
  padding: 10px 30px;
  border-radius: 25px;
}

#banner .slideList .slideImg img {
  display: block;
}

#contents > div {
  width: 400px;
  height: 200px;
  float: left;
}

#contents > div.cont1 {
  background-color: #555;
}

#contents > div.cont2 {
  background-color: #444;
}

#contents > div.cont3 {
  background-color: #333;
}

#footer > div {
  height: 100px;
  float : left;
}

#footer > div.foot1 {
  width: 200px;
  background-color: #222;
}

#footer > div.foot2 {
  width: 800px;
  background-color: #111;
}

#footer > div.foot3 {
  width: 200px;
  background-color: #000;
}