*{
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.cf::before, .cf::after{
  display: block;
  content: '';
  clear: both;
}
ul, li{
  list-style: none;
}
#wrap{
  width: 1200px;
  margin: 0 auto;
}
#header{
  width: 1200px;
}
#header .logo{
  float: left;
  width: 250px;
  height: 100px;
  background-color: #888;
}
#header .nav{
  margin-top: 28px;
  float: right;
  width: 600px;
  background: pink;
}
#header .nav li{
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
}
#header .nav li a{
  display: block;
  font-size: 20px;
  padding: 10px;
}
#header .nav li a:hover{
  background: rgba(0,0,0,0.4);
}
#header .nav li ul.submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: pink;
  height: 185px;
}
#header .nav li ul.submenu:after{
  content: '';
  position: absolute;
  width: 150px;
  top: 0;
  left: -600px;
  height: 185px;
  background-color: pink;
}
#header .nav li ul.submenu li{
  width: 150px;
}
#banner {
  width: 100%;
  height: 300px;
  background-color: #222;
}
#contents > div{
  width: 400px;
  height: 200px;
  float: left;
}

#contents > div.cont1{
  background-color: #555;
}
#contents > div.cont2{
  background-color: #444;
}
#contents > div.cont3{
  background-color: #333;
}

#footer > div {
  height: 100px;
  float: left;
}

#footer > div.foot1{
  width: 200px;
  background-color: #222;
}
#footer > div.foot2{
  width: 800px;
  background-color: #111;
}
#footer > div.foot3{
  width: 200px;
  background-color: #000;
}