*{
  margin: 0;
  padding: 0;
  font-family: d2coding;
  color: #222328;
  background-color: #fff;
}
.cf::before .cf::after{
  display: block;
  clear: both;
  content: '';
}
#wrap{
  width: 1000px;
  margin: 0 auto;
}
#aside {
  float: left;
  width: 200px;
  height: 650px;
}
/* header logo */
#header .logo{
  width: 200px;
  height: 100px;
  line-height: 125px;
}
/* menu */
.nav{
  width: 180px;
  height: 550px;
  margin: 0 auto;
}
.nav ul li{
  list-style: none;
}
.nav ul li a{
  display: block;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  transition: 0.5s;
}
.border{
  border: 1px solid black;
}
.nav ul li .submenu li{
  border-bottom: none;
}
.nav ul li:hover>a{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
} 
.nav .submenu{
  display: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.nav ul li .submenu li:last-child{
  border-bottom: 1px solid black;
} 
#slide{
  width: 800px;
  height: 350px;
  text-align: center;
  overflow: hidden;
}
#slide .slideList{
  width: 800px;
  height: 350px;
  position: relative;
}
#slide .slideList .slideImg{
  position: relative;
}
#slide .slideList .slideImg p{
  position: absolute;
}
#slide .slideList .slideImg p .txt1{
  text-align: left;
  font-size: 30px;
  color: #fff;
  top: 120px;
  left: 40px;
  color: antiquewhite;
}
#slide .slideList .slideImg p .txt1 span{
  background: yellowgreen;
  color: #000;
}
#slide .slideList .slideImg p .txt1 b{
  background: transparent;
  font-weight: normal;
  text-decoration: underline;
  color: aliceblue;
}
#slide .slideList .slideImg p .txt2{
  text-align: center;
  background: transparent;
  font-weight: normal;
  font-size: 30px;
  bottom: 50px;
  right: 40px;
  color: blanchedalmond;
}
#slide .slideList .slideImg p .txt2 span{
  background: blueviolet;
  color: yellow;
}
#slide .slideList .slideImg p .txt3{
  text-align: left;
  background: transparent;
  font-weight: normal;
  font-size: 30px;
  bottom: 50px;
  right: 40px;
  color: cornflowerblue;
}
#slide .slideList .slideImg p .txt3 span{
  background: goldenrod;
  color: darkblue;
}
#slide .slideList .slideImg img{
  display: block;
}
/* content : notice, gallery , shortcut */
#content{
  width: 800px;
  height: 200px;
}
#content>div{
  float: left;
  height: 200px;
  box-sizing: border-box;
}
#content div.notice{
  width: 300px;
}
#content div.gallery{
  width: 300px;
}
#content div.gallery img{
  width: 80px;
  padding-top: 30px;
}
#content div .shortcut{
  width: 200px; 
  position: relative;
  cursor: pointer;
}
#content div.shortcut img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.scaleBox{
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
}
.scaleBox .btn{
  display: block;
  margin-bottom: -1px;
}
.scaleBox .cont{
  border: 1px solid black;
  padding: 5px;
}
.scaleBox .btn a{
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 5px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.notice .cont a span .txt{
  display: block;
  float: left;
  width: 189px;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid black;
}
.notice .cont a span .date{
  float: right;
  padding: 4px;
  border-bottom: 1px solid black;
}
.notice .cont a span:last-child{
  border-bottom: none;
}
.gallery .cont{
  text-align: center;
}
.shortcut p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.3);
  color: coral;
  z-index: 50;
}
#footer{
  width: 800px;
  height: 100px;
  text-align: center;
  border: 1px solid red;
}
#footer>div{
  float: left;
}
#footer div.copy{
  width: 600px;
  padding-top: 25px;
}
#footer div .sns{
  width: 200px;
  height: 50px;
  line-height: 50px;
}
#footer div .family{
  width: 200px;
  height: 50px;
  line-height: 50px;
}
.layer_bg{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 90;
}
.layer{
  display: none;
  position: absolute;
  width: 500px;
  height: 420px;
  border: 2px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.layer h2{
  color: #000;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.layer p{
  padding: 20px 10px;
  text-decoration: underline;
}
.layer a.close{
  color: #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
}
.layer a.close span{
  color: red;
  font-weight: bold;
}